<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>hcmus.am.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/am3/greet</url-pattern>
  </servlet-mapping>
    <!-- Servlets -->
  <servlet>
    <servlet-name>trangthai</servlet-name>
    <servlet-class>hcmus.am.server.TrangThaiServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>trangthai</servlet-name>
    <url-pattern>/am3/trangthai</url-pattern>
  </servlet-mapping>  

    <servlet>
    <servlet-name>ComputerInfoCollection</servlet-name>
    <servlet-class>hcmus.am.ComputerInfoCollection</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>ComputerInfoCollection</servlet-name>
    <url-pattern>/ComputerInfoCollection</url-pattern>
  </servlet-mapping>
  

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>AM3.html</welcome-file>
  </welcome-file-list>

</web-app>
